@charset "UTF-8";
html {
  font-family: "microsoft yahei";
  font-size: 14px; }

a,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
label,
legend,
li,
mark,
ol,
p,
section,
span,
strong,
textarea,
time,
ul,
var {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  color: #323232; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

body,
html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  /*background-color: #fff*/ }

article,
aside,
details,
fieldset,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

a,
button,
cite,
code,
del,
em,
img,
label,
mark,
small,
strong,
textarea,
time,
var {
  display: inline-block; }

footer,
header,
section {
  position: relative; }

ol,
ul {
  list-style: none; }

button,
input,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  -webkit-appearance: none;
  outline: 0;
  background-color: transparent; }

span {
  display: inline-block; }

a {
  color: #333; }

a:active,
a:hover {
  outline: 0; }

a,
a:visited {
  text-decoration: none; }

.wordWrap,
label {
  word-wrap: break-word;
  word-break: break-all; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* float */
.l {
  float: left; }

.r {
  float: right; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.hide {
  display: none !important; }

/* text */
.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

/*隐藏多于*/
.ofh {
  overflow: hidden;
  width: 100%; }

/*禁止换行、省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*省略,显示两行 */
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

/*省略,显示三行 */
.ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.nowrap {
  white-space: nowrap; }

/*禁止换行*/
.wrap {
  word-wrap: break-word; }

/*强制换行*/
.b {
  font-weight: bold; }

/*文字颜色*/
.red {
  color: red; }

.error {
  color: red; }

.green {
  color: green; }

.gray {
  color: gray; }

.orange {
  color: #f90; }

/*背景色*/
.bg-white {
  background: #fff; }

.bg-gray {
  background: #f0f0f0; }

/*定位*/
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.ptb10 {
  padding: 10px 0; }

/*盒子模型*/
.box, * {
  box-sizing: border-box; }

/*布局*/
/*Flex布局*/
.display-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

/*垂直布局*/
.box-orient-v {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column; }

/*水平布局*/
.box-orient-h {
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row; }

/*项目的放大比例为1*/
.box-flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

/*项目的放大比例为2*/
.box-flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2; }

/*other*/
/*文字不许被选中*/
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*header and footer*/
.top-bar {
  height: 40px;
  background: #333;
  color: #999;
  top: 0;
  position: fixed;
  z-index: 10000;
  width: 100%;
  left: 0;
  min-width: 990px; }
  .top-bar .bar-left {
    height: 40px; }
    .top-bar .bar-left li {
      float: left;
      height: 40px; }
      .top-bar .bar-left li .top_bar_logo i {
        background: url(../img/top-bar110.png) no-repeat scroll 0 -14px/55px auto;
        display: block;
        float: left;
        width: 55px;
        height: 14px;
        margin: 13px 10px 0 0;
        text-indent: -9999em;
        font-style: normal; }
      .top-bar .bar-left li a {
        font-size: 14px;
        color: #ccc;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        text-decoration: none;
        display: inline-block; }
      .top-bar .bar-left li a:hover {
        color: #fff;
        background: #0D0D0D; }
    .top-bar .bar-left .top_bar_more {
      position: relative;
      width: 30px;
      cursor: pointer; }
      .top-bar .bar-left .top_bar_more i {
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        border: 4px dashed transparent;
        border-top: 6px solid #ccc;
        margin: 18px auto 0;
        font-style: normal; }
    .top-bar .bar-left .top_bar_more:hover {
      background: #0D0D0D; }
    .top-bar .bar-left .top_bar_more:hover .top_bar_more_div {
      display: block; }
    .top-bar .bar-left div {
      display: none;
      background: #333;
      left: -36px;
      position: absolute;
      text-align: center;
      top: 40px;
      width: 66px; }
      .top-bar .bar-left div a, .top-bar .bar-left div a:visited {
        text-decoration: none; }
      .top-bar .bar-left div a {
        width: 46px; }
  .top-bar .nr3 {
    display: block;
    font-size: 10px;
    color: #f1f1f1;
    width: 60px;
    text-align: center;
    line-height: 1em;
    background: #FE5761;
    float: right;
    height: 100%; }
    .top-bar .nr3 img {
      display: block;
      margin: 4px auto 2px;
      border: 0;
      vertical-align: middle; }
  .top-bar .bar-info {
    position: relative; }
    .top-bar .bar-info .bar-link {
      display: block; }
    .top-bar .bar-info .bar-item {
      position: relative;
      float: left; }
    .top-bar .bar-info li > a {
      font-size: 14px;
      color: #ccc;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      text-decoration: none;
      display: inline-block; }
    .top-bar .bar-info .bar-text {
      width: auto;
      text-align: center;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      position: relative;
      z-index: 199011;
      cursor: pointer; }
      .top-bar .bar-info .bar-text a {
        display: block;
        line-height: 1em;
        font-size: 10px;
        width: 60px;
        text-align: center;
        height: 40px;
        float: right;
        color: #f1f1f1; }
        .top-bar .bar-info .bar-text a img {
          display: block;
          margin: 4px auto 2px;
          border: 0;
          vertical-align: middle; }
    .top-bar .bar-info .bar-box {
      background-color: #fff;
      position: absolute;
      z-index: 199010;
      width: 60px;
      top: 40px;
      right: 0;
      text-align: center;
      display: none; }
      .top-bar .bar-info .bar-box li {
        float: left;
        height: 40px;
        width: 60px;
        line-height: 40px;
        background: #a9a9a9;
        display: block; }
        .top-bar .bar-info .bar-box li a {
          display: block;
          height: 40px;
          line-height: 1em;
          font-size: 10px;
          color: #f1f1f1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .top-bar .bar-info .bar-box li a img {
            display: block;
            margin: 4px auto 2px;
            border: 0;
            vertical-align: middle; }
      .top-bar .bar-info .bar-box .bar-box-item-0 {
        background: #585757; }
    .top-bar .bar-info .bar-add {
      display: block; }
      .top-bar .bar-info .bar-add .bar-text {
        background: #59C3D1;
        color: #f1f1f1;
        width: 60px;
        line-height: 1em;
        font-size: 10px;
        padding: 0; }
      .top-bar .bar-info .bar-add img {
        display: block;
        margin: 4px auto 2px;
        border: 0;
        vertical-align: middle; }
    .top-bar .bar-info .J_down {
      width: 60px; }
    .top-bar .bar-info .bar-item {
      position: relative;
      float: left; }
    .top-bar .bar-info .bar-box {
      background-color: #fff;
      position: absolute;
      z-index: 199010;
      width: 60px;
      top: 40px;
      right: 0;
      text-align: center;
      display: none; }
      .top-bar .bar-info .bar-box ul li {
        height: 30px;
        line-height: 40px;
        display: block;
        padding-top: 10px; }
        .top-bar .bar-info .bar-box ul li a {
          color: #f1f1f1;
          display: block;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif; }
      .top-bar .bar-info .bar-box ul .bar-box-item-0 {
        background: #8ecdd8; }
      .top-bar .bar-info .bar-box ul .bar-box-item-1 {
        background: #a6dfea; }
      .top-bar .bar-info .bar-box ul .bar-box-item-2 {
        background: #adecf8; }
    .top-bar .bar-info .bar-sign {
      display: block; }
    .top-bar .bar-info .bar-sign-text {
      display: block;
      height: 40px;
      background: #FFA859;
      line-height: 40px;
      text-align: center;
      width: 60px;
      color: #f1f1f1;
      float: right;
      font-size: 10px;
      line-height: 1em;
      padding: 0px !important; }
      .top-bar .bar-info .bar-sign-text img {
        display: block;
        margin: 4px auto 2px;
        border: 0;
        vertical-align: middle; }

#空白 {
  height: 100px; }

.footer-area {
  padding: 10px 0; }
  .footer-area .w {
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto; }
    .footer-area .w .ft1 {
      clear: none;
      float: left;
      font-size: 12px;
      color: #666;
      width: 770px; }
      .footer-area .w .ft1 .c3b {
        color: #c90;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 6px; }
        .footer-area .w .ft1 .c3b a {
          color: #f50; }
      .footer-area .w .ft1 .c3c {
        font-size: 12px;
        margin-bottom: 6px; }
      .footer-area .w .ft1 p a img {
        height: 22px;
        margin: 0px 0px 0px 10px;
        border: 0;
        vertical-align: middle; }
    .footer-area .w .ft4, .footer-area .w .ft3 {
      clear: none;
      float: right;
      text-align: center;
      font-size: 12px; }
      .footer-area .w .ft4 img, .footer-area .w .ft3 img {
        display: block;
        border: 0;
        vertical-align: middle; }
    .footer-area .w .ft3 {
      margin-right: 25px;
      font-size: 12px; }
    .footer-area .w .w_links {
      padding: 25px 0 0 0;
      clear: both;
      font-size: 12px; }
      .footer-area .w .w_links ul li {
        float: left;
        padding: 0 12px 0 0; }
        .footer-area .w .w_links ul li a {
          color: #666; }

.footer-info {
  background: 0 0;
  color: #666; }
  .footer-info .w {
    border: none;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
    .footer-info .w a img {
      margin-top: 8px; }

.lanternFestival {
  text-align: center;
  font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif; }
  .lanternFestival .bg {
    width: 100%;
    height: 350px;
    background: url(../img/lanternFestival/20170208148653430181713.jpg) no-repeat center;
    overflow: hidden; }
  .lanternFestival .bg:hover {
    cursor: pointer; }
  .lanternFestival section {
    width: 990px;
    margin: 0 auto; }
    .lanternFestival section .introduce {
      margin-top: 30px;
      margin-bottom: 20px; }
      .lanternFestival section .introduce ul {
        display: block;
        width: 300px;
        height: 130px;
        float: right;
        margin-left: 10px; }
        .lanternFestival section .introduce ul li {
          float: left;
          width: 60px; }
          .lanternFestival section .introduce ul li a {
            color: #666;
            font-size: 11px; }
            .lanternFestival section .introduce ul li a i {
              width: 30px;
              height: 30px;
              display: block;
              margin: 2px auto;
              background: url(../img/lanternFestival/ix2.png) no-repeat 0 0/auto 30px; }
            .lanternFestival section .introduce ul li a .two {
              background-position-x: -150px; }
            .lanternFestival section .introduce ul li a .three {
              background-position-x: -90px; }
            .lanternFestival section .introduce ul li a .four {
              background-position-x: -120px; }
            .lanternFestival section .introduce ul li a .five {
              background-position-x: -60px; }
      .lanternFestival section .introduce p {
        font-size: 18px;
        color: #333;
        text-align: left; }
    .lanternFestival section .name {
      line-height: 20px;
      padding: 20px 0 20px 25px;
      float: left;
      width: 990px;
      text-align: left;
      background: url(../img/lanternFestival/mo.png) no-repeat scroll left center; }
      .lanternFestival section .name h2 {
        color: #333;
        font-weight: 400; }
    .lanternFestival section .text {
      width: 990px;
      overflow: hidden;
      text-align: left;
      font-size: 18px;
      margin-bottom: 10px; }
    .lanternFestival section .pic ul li {
      width: 230px;
      height: 268px;
      overflow: hidden;
      float: left;
      margin-right: 23px;
      margin-bottom: 20px; }
      .lanternFestival section .pic ul li img {
        width: 230px;
        height: 230px; }
      .lanternFestival section .pic ul li span {
        font-size: 18px;
        padding: 0px 0 5px 0; }
    .lanternFestival section .pic ul .none {
      margin-right: 0px; }

.footer-area, .footer-info {
  text-align: left; }

.footer-info .w .left a {
  float: left; }

/*# sourceMappingURL=lanternFestival.css.map */
