@import "api";


*{
    @extend .box;
}
.menuIndex{
    @extend .tc;
    header{
        width: 990px;margin: 0 auto;height: 100px;overflow: hidden;margin-top: 50px;
            .logo_wrap2 {
        overflow: visible;
        height: 65px;

        .logo_inner {
            background: url("../img/logo.png") no-repeat scroll left center/108px auto;
            width: 108px;
            a {
                display: block;
                height: 60px;
                overflow: hidden;
                text-indent: -9999em;
            }
        }
        .logo_current {
            height: 30px;
            line-height: 30px;
            margin: 15px 0 0 10px;
            padding: 0 0 0 10px;

            a {
                background: #FF838B;
                border-radius: 5px;
                color: #fff;
                display: block;
                font-size: 20px;
                padding: 0 10px;
            }
            a:hover {
                background: #FF6767;
            }
        }
        .logo_search {
            padding-top: 18.5px;

            .search_Btn {
                border-radius: 0 3px 3px 0;
                width: 80px;
                height: 28px;
                color: #fff;
                @extend .bg-white;
                text-indent: 35px;
                line-height: 28px;
                background: #999 url("../img/search.png") no-repeat scroll 12px center/16px auto;
            }
            .search_Text {
                width: 160px;
                border: 1px solid #ccc;
                border-right: none;
                border-radius: 3px 0 0 3px;
                height: 28px;
                line-height: 20px;
                padding: 3px;
            }
            a:hover {
                background: #FF6767 url("../img/search.png") no-repeat scroll 12px center/16px auto;
            }
        }
        .logo_nav {
            padding: 0 40px 0 0;
            height: 60px;
            a {
                position: relative;
                float: left;
                padding: 0 10px 5px;
                font-size: 20px;
                line-height: 60px;
            }
            a:hover {
                color: #ff6767;
            }
            a.on {
                color: #ff6767;
                i {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: 1;
                    display: block;
                    overflow: hidden;
                    margin-left: -9px;
                    width: 0;
                    height: 0;
                    border: 9px dashed transparent;
                    border-bottom: 9px solid #ff6767;
                }

                b {
                    position: absolute;
                    bottom: -1.3px;
                    left: 50%;
                    z-index: 2;
                    display: block;
                    overflow: hidden;
                    margin-left: -9px;
                    width: 0;
                    height: 0;
                    border: 9px dashed transparent;
                    border-bottom: 9px solid #fff;
                }

            }
        }
    }
    .nav_wrap2 {
        height: 34px;
        border-bottom: 1px solid #ff6767;
        border-top: 1px solid #ff6767;

        ul li {
            @extend .l;
            padding: 0 10px;
            a {
                display: block;
                padding: 0 3px;
                height: 34px;
                font-size: 14px;
                line-height: 34px;
            }
            a.on {
                color: #ff6767;
            }
            a:hover {
                color: #ff6767;
            }
        }
    }
        
    }
    section{
        width: 990px;margin: 0 auto;
        .h20{
            height: 1px;
        }
        .lunbo{
            ul{
                    li{
                        width: 300px;height: 320px;float: left;padding-top: 30px;margin-right: 45px;
                        
                        a{
                            i{
                                display: block;width: 300px;height: 250px;overflow: hidden;
                                img{
                                    width: 300px;height: 300px;margin-top: -25px;transition: all .5s ease-in-out;
                                }
                            }
                            p{
                                line-height: 31px;font-size: 18px;
                            }
                        }
                    }
                    li.none{
                        margin-right: 0;
                    }
                    li:hover{
                        cursor: pointer;
                        a{
                            i{
                                img{
                                    transition: all .5s ease-in-out;
                                    transform: scale(1.1,1.1);
                                }
                            }
                            p:hover{
                                color: #ff6767;
                            }
                        }
                    }
                }
        }
        .allMenu{
            
            a{
                float: left;width: 99px;text-align: center;font-size: 14px;margin-bottom: 20px;margin-top: 10px;
                img{
                    width: 50px;height: 50px;margin: 0 auto 5px;display: block;
                }
            }
            a:hover{
                color: #EC8C1F;
            }
        }
        .tabs{
            .main{
                .main_content{
                    li{
                        width: 230px;height: 305px;overflow: hidden;float: left;margin: 0 23px 0 0;
                        a{
                            display: block;overflow: hidden;text-decoration: none;color: #333;
                            img{
                                width: 230px;height: 230px;    transition: all .5s ease-in-out;
                            }
                            p{
                                font-size: 18px;
                                line-height: 120%;
                                padding: 8px 0 2px;
                            }
                        }
                        a.u{
                            color: #999;font-size: 12px;
                        }
                        a.u:hover{
                            color: #EC8C1F;
                            
                        }
                    }
                    li:hover{
                        cursor: pointer;
                        p{
                            color: #EC8C1F;
                        }
                        img{
                            transition: all .5s ease-in-out;
                            transform: scale(1.1,1.1);

                        }
                    }
                    .margin_none{
                        margin: 0;float: left;
                    }
                }
                .blank{
                    height: 10px;
                }
            }
        }
        .addMore{
            width:990px;height: 44px;line-height: 44px;
            input{
                color: #ff6767;width: 100%;background: #F8F8F8;height: 44px;
                font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif;font-size: 18px;
                border-radius: 5px;
            }
            input:hover{
                background: #ff8d8d;color: white;cursor: pointer;
                transition: color .3s ease-in-out .3s,background-color .3s ease-in-out .3s;
            }
        }
        .adpic{
            margin-top: 10px;
        }
        .adpic:hover{
            cursor: pointer;
        }
    }
    .menu {float: left;list-style-type: none;height:30px;line-height:30px;float:left;padding:0;margin:0;margin-bottom: 2px;}
        .menu li{float:left;cursor:pointer;margin-right: 20px;font-size: 20px;}
        .menu a.allClass{margin-left: 200px;font-size: 16px;}
        .menu a:hover{color: #EC8C1F;}
        .main{float:left;clear:left;margin-bottom:20px; }
        .menu .on{border-bottom:solid 2px #FF6767;}
        .tab{height:2440px;width:990px;float:left;clear:both;border-top:solid 1px #EEEEEE; display: none;}
    
}


.footer-area,.footer-info{
    text-align: left;
}
