@import "api";

*{
    box-sizing: border-box;
}

.specialIndex{
    text-align: center;
    
    header{
        width: 990px;margin: 0 auto;height: 65px;overflow: hidden;margin-top: 50px;
            .logo_wrap2 {
        overflow: visible;
        height: 65px;

        .logo_inner {
            background: url("../img/logo.png") no-repeat scroll left center/108px auto;
            width: 108px;
            a {
                display: block;
                height: 60px;
                overflow: hidden;
                text-indent: -9999em;
            }
        }
        .logo_current {
            height: 30px;
            line-height: 30px;
            margin: 15px 0 0 10px;
            padding: 0 0 0 10px;

            a {
                background: #FF838B;
                border-radius: 5px;
                color: #fff;
                display: block;
                font-size: 20px;
                padding: 0 10px;
            }
            a:hover {
                background: #FF6767;
            }
        }
        .logo_search {
            padding-top: 18.5px;

            .search_Btn {
                border-radius: 0 3px 3px 0;
                width: 80px;
                height: 28px;
                color: #fff;
                @extend .bg-white;
                text-indent: 35px;
                line-height: 28px;
                background: #999 url("../img/search.png") no-repeat scroll 12px center/16px auto;
            }
            .search_Text {
                width: 160px;
                border: 1px solid #ccc;
                border-right: none;
                border-radius: 3px 0 0 3px;
                height: 28px;
                line-height: 20px;
                padding: 3px;
            }
            a:hover {
                background: #FF6767 url("../img/search.png") no-repeat scroll 12px center/16px auto;
            }
        }
        .logo_nav {
            padding: 0 40px 0 0;
            height: 60px;
            a {
                position: relative;
                float: left;
                padding: 0 10px 5px;
                font-size: 20px;
                line-height: 60px;
            }
            a:hover {
                color: #ff6767;
            }
            a.on {
                color: #ff6767;
                i {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: 1;
                    display: block;
                    overflow: hidden;
                    margin-left: -9px;
                    width: 0;
                    height: 0;
                    border: 9px dashed transparent;
                    border-bottom: 9px solid #ff6767;
                }

                b {
                    position: absolute;
                    bottom: -1.3px;
                    left: 50%;
                    z-index: 2;
                    display: block;
                    overflow: hidden;
                    margin-left: -9px;
                    width: 0;
                    height: 0;
                    border: 9px dashed transparent;
                    border-bottom: 9px solid #fff;
                }

            }
        }
    }
    .nav_wrap2 {
        height: 34px;
        border-bottom: 1px solid #ff6767;
        border-top: 1px solid #ff6767;

        ul li {
            @extend .l;
            padding: 0 10px;
            a {
                display: block;
                padding: 0 3px;
                height: 34px;
                font-size: 14px;
                line-height: 34px;
            }
            a.on {
                color: #ff6767;
            }
            a:hover {
                color: #ff6767;
            }
        }
    }
    }
    section{
        width:990px;margin: 0 auto;
        
        .menu {float: left;list-style-type: none;height:34px;line-height:34px;float:left;padding:0;margin:0;margin-bottom: 2px;
                border-top: 1px solid #FF6767;width: 990px;}
        .menu li{float:left;cursor:pointer;font-size: 14px;padding: 0 13px;}
        .menu li:hover{color: #ff7878;}
        .menu .on{color: #FF7878;}
        .main{float:left;clear:left;margin-bottom:20px; }
        .tab{height:1300px;width:990px;float:left;clear:both;border-top:solid 1px #FF6767; display: none;}
        
        .h20{
            height: 20px;
        }
        .tabs{
            .main{
                ul{
                    li{
                        width: 300px;height: 320px;float: left;padding-top: 30px;margin-right: 45px;
                        
                        a{
                            i{
                                display: block;width: 300px;height: 250px;overflow: hidden;
                                img{
                                    width: 300px;height: 300px;margin-top: -25px;transition: all .5s ease-in-out;
                                }
                            }
                            p{
                                line-height: 31px;font-size: 18px;
                            }
                        }
                    }
                    li.none{
                        margin-right: 0;
                    }
                    li:hover{
                        cursor: pointer;
                        a{
                            i{
                                img{
                                    transition: all .5s ease-in-out;
                                    transform: scale(1.1,1.1);
                                }
                            }
                            p:hover{
                                color: #ff6767;
                            }
                        }
                    }
                }
            }
        }
        .page{
            height: 36px;line-height: 36px;text-align: center;margin-bottom: 20px;
            div{
                a{
                    font-size: 14px;margin-right: 5px;padding: 0 11px;
                    border: 1px solid #eee;color: #999;background: #f8f8f8;
                }
                a.on{
                    border: 1px solid #ff6767;background-color: #ff6767;
                    color: white;cursor: default;
                }
                a.hover:hover{
                    color: #ff6767;border: 1px solid #ff6767;
                }
            }
        }
        
    }
    footer{
        
    }
}


.footer-area,.footer-info{
    text-align: left;
}
